.min-h-screen{
    min-height: 100vh;
}
.bg-red{
    background-color: rgb(250, 179, 245);
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.items-centre{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: space-center;
}



.flex-col{
    flex-direction: column;
}

.font-bold{
    font-weight: 900;
}

.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}

.my-2{
    margin-top: 26px;
    margin-bottom: 26px;
}

.px-2{
    padding-left: 13px;
    padding-right: 13px;
}

.text-blue{
    color:rgb(206, 114, 229);
}
.btn{
    padding: 4px 12px;
    border: 2px solid rgb(246, 241, 245);
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-color: purple ;
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.text-center{
    text-align: center;
}